* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

header{
	background-image: url(../imagenes/16002.jpg);
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #ffffff;
	position: sticky;
	top: 0;
	z-index: 1;
}
header div, header a {
	flex: 1 0 50%;
}
header nav {
	flex-basis: 100%;
}
.icon {
	display: block;
	padding-right: 0.6rem;
	text-align: center;
	margin-left: 2%;
	color: black;
}
nav ul {
	display: none;
}
nav.responsive ul {
	display: block;
}
nav.responsive ul li {
	display: block;
	text-align: center;
	padding: 0.5rem;
}
nav.responsive ul li a {
	padding-right: 0;
	color: black;
	text-decoration: none;
	font-size: 1.5rem;
}
nav.responsive ul li a:hover {
	color: white;
	transition: 0.3s ease-in-out;
}
body{
	font-family: "Cinzel", serif;
	margin: 0;
	background-image: url(../imagenes/16002.jpg);
	background-size: cover; 
	background-repeat: no-repeat;

}

.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.logo img{
	padding: 20px;
	width: 100%;
}


h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}

button{
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	color:white;
	background-color: #146d79;
}
button:hover{
	background-color: #12626d;
}
.container{
	max-width: 1400px;
	margin: auto;
}

#inicio{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 90vh;
	background-image: linear-gradient(
		0deg,
		rgba(0,0,0,0.5),
		rgba(0,0,0,0.5)
	)
	,url(../imagenes/principal.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
#inicio h1{
	color: white;
	text-shadow: 5px 5px 5px black;
}


#introduccion .container{
	text-align: center;
	padding: 200px 12px;
	
}
#introduccion .container p{
	font-size: 1.5em;
}

#contenido{
	background-color: rgba(0,0,0,0.5);
	color: white;
	text-align: center;
}

#contenido h2{
	padding-top: 20px;
	font-size: 3em;
	text-shadow: 5px 5px 5px black;
}
.divisiones{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#contenido .carta{
	width: 300px;
	height: 200px;
	overflow: hidden;
	position: relative;
	margin: 30px auto;
	border-radius: 20px;
	box-shadow: 5px 8px 12px black;
}
.carta img{
	
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}

.carta p{
	font-size: 2.5rem;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

#frase{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	height: 80vh;
}
#frase h2{
	padding: 20px;
	text-shadow: black 2px 2px 10px;
}
footer .container{
	margin-top: 10px;
	
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer .container a{
	padding: 10px;
}
footer p{
	padding: 10px;
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1em;
}
.material-icons {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}
.back-to-top{
    position:fixed;
    top: 52rem;
    right: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(122, 122, 122, 0.7);
    border-radius: 25px;
    padding: 0.5rem;
    text-decoration: none;
    transition: 0.2s ease-out;
}

.back-to-top span{
    color:#fff;
    font-size: 1.5rem;
    transition: 0.2s ease-out;
}

.back-to-top:hover{
    background-color: #4c7d91;
}
.back-to-top:hover span{
    transform: translateY(-4px);
}
html{
    scroll-behavior: smooth;
}

/*GALERIA RESPONSIVE*/	

#galeria-inicio{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 90vh;
	background-image: linear-gradient(
		0deg,
		rgba(0,0,0,0.5),
		rgba(0,0,0,0.5)
	)
	,url(../imagenes/espada.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;	
}
#galeria-inicio h1{
	font-size: 4em;
	color: white;
	text-shadow: 5px 5px 5px black;
	
}
#introduccion-galeria .container-galeria{
	text-align: center;
	padding: 200px 12px;
	
}
#introduccion-galeria .container-galeria p{
	font-size: 1.5em;
	color: #ffffff;
	margin-top: 20px;
}
#contenido-galeria{
	background-color: rgba(0,0,0,0.5);
	color: white;
	text-align: center;
}
#contenido-galeria .container{
	padding: 150px 12px;

}
#contenido-galeria h2{
	margin-bottom: 100px;
	font-size: 3em;
	text-shadow: 5px 5px 5px black;
}
.contenedor-imagenes{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.contenedor-imagenes img{
	margin: 15px;
	border-radius: 15%;
	box-shadow: 5px 5px 10px black;
}
.contenedor-imagenes img:hover{
	transform: scale(1.1);
	
	

}

#frase-galeria{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	height: 80vh;
}
#frase-galeria h2{
	text-shadow: black 2px 2px 10px;
}

/*CONTACTO*/
.contacto-titulo{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	
}
.cont h3{
	font-size: 3em;
	color: rgb(0, 0, 0);
	;
}
.form{
	width:80%;
	height:500px;

	border-radius:20px;
	box-shadow:0 0 40px -10px #000;
	margin:calc(1vh) auto;
	padding:10px 30px;
	box-sizing:border-box;
	font-family:'Montserrat',sans-serif;
	font-size: 14px;
	position:relative
	
}

h3.contacto{
	margin:10px 0;
	padding-bottom:10px;
	width:150px;
	color:#78788c;
	border-bottom:3px solid #78788c;
	font-size: large;
}

input{
	width:100%;
	margin-top: 30px;
	padding:10px;
	box-sizing:border-box;
	background:none;
	outline:none;
	resize:none;
	border:0;
	transition:all .3s;
	border-bottom:2px solid #bebed2
}

input:focus{
	border-bottom:2px solid #78788c
}

button{
	padding:8px 12px;
	margin:50px 0 0;
	border:2px solid #78788c;
	background:#5a5a6e;color:#ffffff;
	cursor:pointer;
	transition:all .3s;
}

button:hover{
	background:#78788c;
	color:#fff;
}

div.pie_contacto{
	position:absolute;
	bottom:-15px;
	right:-6%;
	background:#50505a;
	color:#fff;
	width:420px;
	padding:16px 4px 16px 0;
	border-radius:6px;
	box-shadow:10px 10px 40px -14px #000;
}

div.pie_contacto span{
	margin:0 5px 0 15px;
}

/*PERSONAJES*/
#inicio-personajes{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 90vh;
	background-image: linear-gradient(
		0deg,
		rgba(0,0,0,0.5),
		rgba(0,0,0,0.5)
	)
	,url(../imagenes/ps/prota.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
#inicio-personajes h1{
	font-size: 3em;
	text-align: center;
	color: white;
	text-shadow: 5px 5px 5px black;
}
#contenido-personajes{
	background-color: rgba(0,0,0,0.5);
	color: white;
	text-align: center;
}

#contenido-personajes h2{
	padding-top: 20px;
	font-size: 3em;
	text-shadow: 5px 5px 5px black;
}
.divisiones-personajes{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#contenido-personajes .carta-personajes{
	width: 400px;
	height: 300px;
	overflow: hidden;
	position: relative;
	margin: 30px auto;
	border-radius: 20px;
	box-shadow: 5px 8px 12px black;
}
.carta-personajes img{
	
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}

.carta-personajes p{
	font-size: 2.5rem;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

/*GERALT*/
#inicio-geralt{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 90vh;
	background-image: url(../imagenes/galeria/inicio-geralt.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
#inicio-geralt h1{
	color: white;
	text-shadow: 5px 5px 5px black;
}


#introduccion-geralt .container-geralt{
	text-align: center;
	padding: 200px 12px;
	
}
#introduccion-geralt .container-geralt p{
	font-size: 1.5em;
	color: white;
}
#contenido-geralt{
	background-color: rgba(0,0,0,0.5);
	color: white;
	text-align: center;
	
}
#contenido-geralt h2{
	padding: 10px;
	text-shadow: 5px 5px 5px black;
}
#contenido-geralt p{
	font-family: "Baskervville SC", serif;
	padding: 10px;
	font-size: 1.7rem;
	text-align: left;
}

#contenido-geralt .carta-geralt{
	width: 100%;
	height: 50vh;
	overflow: hidden;
	position: relative;
	margin: 30px auto;

	box-shadow: 5px 8px 12px black;
}
.carta-geralt img{
	
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}
.resaltar-geralt{
	font-weight: bold;
	font-style: italic;
	background-color: #000000;
	border-radius: 10px;
}
/*YENNEFFER*/
#inicio-yen{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 90vh;
	background-image: url(../imagenes/ps/yen3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
#inicio-yen h1{
	margin-top: 300px;
	color: white;
	text-shadow: 5px 5px 5px black;
}


#introduccion-yen .container-yen{
	text-align: center;
	padding: 200px 12px;
	
}
#introduccion-yen .container-yen p{
	font-size: 1.5em;
	color: white;
}
#contenido-yen{
	background-color: rgba(0,0,0,0.5);
	color: white;
	text-align: center;
	
}
#contenido-yen h2{
	padding: 10px;
	text-shadow: 5px 5px 5px black;
}
#contenido-yen p{
	font-family: "Baskervville SC", serif;
	padding: 10px;
	font-size: 1.7rem;
	text-align: left;
}

#contenido-yen .carta-yen{
	width: 100%;
	height: 50vh;
	overflow: hidden;
	position: relative;
	margin: 30px auto;

	box-shadow: 5px 8px 12px black;
}
.carta-yen img{
	
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}
/*CIRI*/
#inicio-ciri{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 90vh;
	background-image: url(../imagenes/ps/inicio-ciri.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
#inicio-ciri h1{
	margin-top: 400px;
	padding: 20px;
	color: white;
	text-shadow: 5px 5px 5px black;
}


#introduccion-ciri .container-ciri{
	text-align: center;
	padding: 200px 12px;
	
}
#introduccion-ciri .container-ciri p{
	font-size: 1.5em;
	color: white;
}
#contenido-ciri{
	background-color: rgba(0,0,0,0.5);
	color: white;
	text-align: center;
	
}
#contenido-ciri h2{
	padding: 10px;
	text-shadow: 5px 5px 5px black;
}
#contenido-ciri p{
	font-family: "Baskervville SC", serif;
	padding: 10px;
	font-size: 1.7rem;
	text-align: left;
}

#contenido-ciri .carta-ciri{
	width: 100%;
	height: 50vh;
	overflow: hidden;
	position: relative;
	margin: 30px auto;

	box-shadow: 5px 8px 12px black;
}
.carta-ciri img{
	
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}
/*JASKIER*/
#inicio-jaskier{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 90vh;
	background-image: url(../imagenes/ps/jaskier3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
#inicio-jaskier h1{
	color: white;
	text-shadow: 5px 5px 5px black;
}


#introduccion-jaskier .container-jaskier{
	text-align: center;
	padding: 200px 12px;
	
}
#introduccion-jaskier .container-jaskier p{
	font-size: 1.5em;
	color: white;
}
#contenido-jaskier{
	background-color: rgba(0,0,0,0.5);
	color: white;
	text-align: center;
	
}
#contenido-jaskier h2{
	padding: 10px;
	text-shadow: 5px 5px 5px black;
}
#contenido-jaskier p{
	font-family: "Baskervville SC", serif;
	padding: 10px;
	font-size: 1.7rem;
	text-align: left;
}

#contenido-jaskier .carta-jaskier{
	width: 100%;
	height: 50vh;
	overflow: hidden;
	position: relative;
	margin: 30px auto;

	box-shadow: 5px 8px 12px black;
}
.carta-jaskier img{
	
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}

/*TEMPORADAS*/
#inicio-temporadas{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 90vh;
	background-image: linear-gradient(
		0deg,
		rgba(0,0,0,0.5),
		rgba(0,0,0,0.5)
	)
	,url(../imagenes/ps/temporadas.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
#inicio-temporadas h1{
	font-size: 3em;
	text-align: center;
	color: white;
	text-shadow: 5px 5px 5px black;
}
#contenido-temporadas{
	background-color: rgba(0,0,0,0.5);
	color: white;
	text-align: center;
	
}
#contenido-temporadas h2{
	margin-top: 50px;
	padding: 20px;
	text-shadow: 5px 5px 5px black;
}
#contenido-temporadas p{
	font-family: "Baskervville SC", serif;
	padding: 10px;
	font-size: 1.7rem;
	text-align: left;
}

#contenido-temporadas .carta-temporadas{
	width: 100%;
	height: 50vh;
	overflow: hidden;
	position: relative;
	margin: 30px auto;

	box-shadow: 5px 8px 12px black;
}
.carta-temporadas img{
	
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}
.parrafo-temporadas p{
	font-family: "Baskervville SC", serif;

}
/*CONTACTO*/
#inicio-contacto{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 90vh;
	background-image: linear-gradient(
		0deg,
		rgba(0,0,0,0.5),
		rgba(0,0,0,0.5)
	)
	,url(../imagenes/ps/CONTACTO.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
#inicio-contacto h1{
	
	font-size: 3em;
	text-align: center;
	color: white;
	text-shadow: 5px 5px 5px black;
}
/*EXTRAS*/
#inicio-extras{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 90vh;
	background-image: linear-gradient(
		0deg,
		rgba(0,0,0,0.5),
		rgba(0,0,0,0.5)
	)
	,url(../imagenes/ps/EXTRAS.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
#inicio-extras h1{
	font-size: 3em;
	text-align: center;
	color: white;
	text-shadow: 5px 5px 5px black;
}





/*MEDIA DESKSTOP*/
@media (min-width: 481px) { 
	header{
		background-image: url(../imagenes/16002.jpg);
		background-position:center center;
		background-repeat: no-repeat;
		background-size: cover;
		/*position:fixed;
		z-index: 1;
		width: 100%;*/
		
			
	}
	
	.icon{
		display: none;
	}
	li{
		list-style: none;
	}
	a{
		color: black;
		text-decoration: none;
	}
	.logo{
		display: flex;
		justify-content: center;
		align-items: center;
		
	}
	.logo img{
		width:1000px;
		height: 150px;
		margin-top: 0px;
		margin-left: 22%;
		

		
	}
	.nav-bar{
		min-height: 70px;
		display: flex;
		justify-content: space-between;
		align-items:center;
		padding: 0 24px;
		
		
		
	}
	.nav-menu{
		display: flex;
		justify-content: space-between;
		width: 100%;
		font-size: 1.6em;
		margin-top: 30px;
		
	}
	.nav-menu li a{
		padding-right:80px;
		padding-left:80px;
	}
	
	.nav-branding{
		font-size: 2rem;
	}
	.nav-link{
		transition: 0.7s ease;
		

	}
	
	.nav-link:hover{
		color:white; 
	}
	
	#inicio{
		width: 100%;
		height: 90vh;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #ffffff;
		font-size: 2em;
		text-shadow: 5px 5px 5px black;

		background-image: linear-gradient(
			0deg,
			rgba(0,0,0,0.5),
			rgba(0,0,0,0.5)
		)
		,url(../imagenes/principal.jpg);
		background-repeat: no-repeat;
		background-size:cover;
		background-position:center center;
		
	}
	#inicio h1{
		font-size: 2.5em;
	}

	#introduccion .container{
		display: flex;
		justify-content: center;
		
	}
	#introduccion .texto{
		width: 50%;
		text-align: initial;
		padding: 0px 30px;
		max-width: 600px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin-left: 100px;
		
		
	}
	#introduccion h2{
		font-size: 4em;
		
		
	}
	#introduccion .texto p{
		font-size: 1.5em;
		color: black; 
	}
	#introduccion .contenedor-imagen{
		background-image:url(../imagenes/inicio.jpg);
		background-size: cover;
		background-position: center center;
		border-radius: 20px;
		box-shadow: 5px 5px 10px;
		height: 500px;
		width: 400px;
	}

	#contenido .divisiones{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 90vh;
	}
	.titulo{
		padding-top: 100px;
		
		text-shadow: 5px 5px 10px black;
	}
	
	#contenido .carta{
		width: 400px;
		height: 600px;
		overflow: hidden;
		position: relative;
		margin: 70px auto;
		border-radius: 20px;
		box-shadow: 5px 8px 12px black;
		transition: all 0.3s ease-in-out;
	}
	.carta img{
		
		width: 100%;
		height: 100%;
		object-fit: cover;
		
	}
	
	.carta p{
		font-size: 3rem;
		color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
	}
	.carta:hover{
		transform: scale(1.1);
	}
	
	#frase h2{
		text-shadow: black 2px 2px 5px;
		font-size: 2.5em;
		text-align: center;

	}
	
	.material-icons {
		font-family: 'Material Symbols Outlined';
		font-weight: normal;
		font-style: normal;
		font-size: 24px;  /* Preferred icon size */
		display: inline-block;
		line-height: 1;
		text-transform: none;
		letter-spacing: normal;
		word-wrap: normal;
		white-space: nowrap;
		direction: ltr;
	}
	.back-to-top{
		position:fixed;
		top: 55rem;
		right: 2rem;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(0, 0, 0, 0.7);
		border-radius: 25px;
		padding: 0.5rem;
		text-decoration: none;
		transition: 0.2s ease-out;
	}
	
	.back-to-top span{
		color:#fff;
		font-size: 2rem;
		transition: 0.2s ease-out;
	}
	
	.back-to-top:hover{
		background-color: #365664;
	}
	.back-to-top:hover span{
		transform: translateY(-4px);
	}
	html{
		scroll-behavior:smooth;
	} 
	

	/*GALERIA*/
	#galeria-inicio{
		
		width: 100%;
		height: 90vh;
		display: flex;

		color: #ffffff;
		font-size: 1.2em;
		align-items:start;

		background-image: linear-gradient(
			0deg,
			rgba(0,0,0,0.5),
			rgba(0,0,0,0.5)
		)
		,url(../imagenes/espada.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;	
	}
	
	#galeria-inicio h1{
		color: white;
		margin: 50px;
		margin-top: 350px;
		text-shadow: 5px 5px 5px black;
		
		
	}
	#introduccion-galeria .container-galeria{
		display: flex;
		justify-content: center;
		
	}
	#introduccion-galeria .texto-galeria{
		width: 50%;
		text-align: initial;
		padding: 0px 30px;
		max-width: 600px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin-left: 100px;
		
		
	}
	#introduccion-galeria h2{
		font-size: 4em;
		
		
		
	}
	#introduccion-galeria .texto-galeria p{
		font-size: 1.5em;
		color: black; 
	}
	#introduccion-galeria .contenedor-imagen-galeria{
		background-image:url(../imagenes/yennefer2.jpg);
		background-size: cover;
		background-position: center center;
		border-radius: 20px;
		box-shadow: 5px 5px 10px;
		height: 500px;
		width: 400px;
	}

	#contenido-galeria{
		background-color: rgba(0,0,0,0.3);
		color: white;
		text-align: center;
	}
	#contenido-galeria .container{
		padding: 150px 12px;
	
	}
	#contenido-galeria h2{
		margin-bottom: 100px;
		font-size: 3em;
		text-shadow: 5px 5px 5px black;
	}
	.contenedor-imagenes{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.contenedor-imagenes img{
		margin: 15px;
		border-radius: 15%;
		box-shadow: 5px 5px 10px black;
	}
	.contenedor-imagenes img:hover{
		transform: scale(1.1);
		transition: all 0.3s ease-in-out;
		
		
	
	}
	
	#frase-galeria h2{
		text-shadow: black 2px 2px 5px;
		font-size: 2.5em;
		text-align: center;
		
	}





	/*CONTACTO*/
	#seccion-formulario{
		height: 700px;
		background-color: rgba(0,0,0,0.3);

	}
	.contacto-titulo{
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		
	}
	.cont h3{
		padding: 30px;
		font-size: 3em;
		color: rgb(0, 0, 0);
		
	}
	.form{
		width:80%;
		height:500px;
		background-image:url(../imagenes/juntos.jpg);
		background-position-y: -50px;
		background-repeat: no-repeat;
		background-size: cover;

		border-radius:20px;
		box-shadow:0 0 40px -10px #000;
		margin:calc(1vh) auto;
		padding:10px 30px;
		box-sizing:border-box;
		font-family:'Montserrat',sans-serif;
		font-size: 14px;
		position:relative
		
	}
	
	h3.contacto{
		margin:10px 0;
		padding-bottom:10px;
		width:150px;
		color:#78788c;
		border-bottom:3px solid #78788c;
		font-size: large;
	}
	
	input{
		width:100%;
		margin-top: 30px;
		padding:10px;
		box-sizing:border-box;
		background:none;
		outline:none;
		resize:none;
		border:0;
		transition:all .3s;
		border-bottom:2px solid #bebed2
		
	}
	
	input:focus{
		border-bottom:2px solid #78788c
	}
	
	button{
		padding:8px 12px;
		margin:50px 0 0;
		border:2px solid #78788c;
		background:#5a5a6e;color:#ffffff;
		cursor:pointer;
		transition:all .3s;
	}
	
	button:hover{
		background:#78788c;
		color:#fff;
	}
	
	div.pie_contacto{
		position:absolute;
		bottom:-15px;
		right:30%;
		background:#50505a;
		color:#fff;
		width:420px;
		padding:16px 4px 16px 0;
		border-radius:6px;
		box-shadow:10px 10px 40px -14px #000;
	}
	
	div.pie_contacto span{
		margin:0 5px 0 15px;
	}
	
	/*PERSONAJES*/
	#inicio-personajes{
		width: 100%;
		height: 90vh;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #ffffff;
		font-size: 2em;
		text-shadow: 5px 5px 5px black;

		background-image: linear-gradient(
			0deg,
			rgba(0,0,0,0.5),
			rgba(0,0,0,0.5)
		)
		,url(../imagenes/ps/prota.jpg);
		background-repeat: no-repeat;
		background-size:cover;
		background-position:center center;
		
	}
	#inicio-personajes h1{
		text-align: center;
		padding: 20px;
		font-size: 2em;
	}
	#contenido-personajes .divisiones-personajes{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 70vh;
	}
	.titulo-personajes{
		padding-top: 10px;
		text-shadow: 5px 5px 10px black;
	}
	
	#contenido-personajes .carta-personajes{
		width: 380px;
		height: 550px;
		overflow: hidden;
		position: relative;
		margin: 70px auto;
		border-radius: 20px;
		box-shadow: 5px 8px 12px black;
		transition: all 0.3s ease-in-out;
	}
	.carta-personajes img{
		
		width: 100%;
		height: 100%;
		object-fit: cover;
		
	}
	
	.carta-personajes p{
		font-size: 3rem;
		color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
	}
	.carta-personajes:hover{
		transform: scale(1.1);
	}
	/*GERALT*/
	#inicio-geralt{
		width: 100%;
		height: 90vh;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #ffffff;
		font-size: 2em;
		text-shadow: 5px 5px 5px black;

		background-image: url(../imagenes/galeria/inicio-geralt.jpg);
		background-repeat: no-repeat;
		background-size:cover;
		background-position:center center;
		
	}
	#inicio-geralt h1{
		font-size: 2.5em;
	}

	#introduccion-geralt .container-geralt{
		display: flex;
		justify-content: center;
		
	}
	#introduccion-geralt .texto-geralt{
		width: 50%;
		text-align: initial;
		padding: 0px 30px;
		max-width: 600px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin-left: 100px;
		
		
	}
	#introduccion-geralt h2{
		font-size: 4em;
		
		
	}
	#introduccion-geralt .texto-geralt p{
		font-size: 1.5em;
		color: black; 
	}
	#introduccion-geralt .contenedor-imagen-geralt{
		background-image:url(../imagenes/inicio.jpg);
		background-size: cover;
		background-position: center center;
		border-radius: 20px;
		box-shadow: 5px 5px 10px;
		height: 500px;
		width: 400px;
	}
	#contenido-geralt{
		background-color: rgba(0,0,0,0.5);
		color: white;
		text-align: center;
		
	}
	#contenido-geralt h2{
		padding: 10px;
		text-shadow: 5px 5px 5px black;
	}
	#contenido-geralt p{
		font-family: "Baskervville SC", serif;
		padding: 20px;
		font-size: 2.2rem;
		text-align: left;
	}

	#contenido-geralt .carta-geralt{
		width: 70%;
		height: 60vh;
		border-radius: 20px;

		box-shadow: 5px 8px 12px black;
	}
	.carta-geralt img{
		
		width: 100%;
		height: 100%;
		object-fit: cover;
		
		
	}
	.resaltar-geralt{
		font-weight: bold;
		font-style: italic;
		background-color: #000000;
		border-radius: 10px;
	}
	/*CIRI*/
	#inicio-ciri{
		width: 100%;
		height: 90vh;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #ffffff;
		font-size: 2em;
		text-shadow: 5px 5px 5px black;

		background-image: url(../imagenes/ps/inicio-ciri.jpg);
		background-repeat: no-repeat;
		background-size:cover;
		background-position:center center;
		
	}
	#inicio-ciri h1{
		
		font-size: 2.5em;
	}

	#introduccion-ciri .container-ciri{
		display: flex;
		justify-content: center;
		
	}
	#introduccion-ciri .texto-ciri{
		width: 50%;
		text-align: initial;
		padding: 0px 30px;
		max-width: 600px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin-left: 100px;
		
		
	}
	#introduccion-ciri h2{
		font-size: 4em;
		
		
	}
	#introduccion-ciri .texto-ciri p{
		font-size: 1.5em;
		color: black; 
	}
	#introduccion-ciri .contenedor-imagen-ciri{
		background-image:url(../imagenes/galeria/ciri.jpg);
		background-size: cover;
		background-position: center center;
		border-radius: 20px;
		box-shadow: 5px 5px 10px;
		height: 500px;
		width: 400px;
	}
	#contenido-ciri{
		background-color: rgba(0,0,0,0.5);
		color: white;
		text-align: center;
		
	}
	#contenido-ciri h2{
		padding: 10px;
		text-shadow: 5px 5px 5px black;
	}
	#contenido-ciri p{
		font-family: "Baskervville SC", serif;
		padding: 20px;
		font-size: 2.2rem;
		text-align: left;
	}

	#contenido-ciri .carta-ciri{
		width: 70%;
		height: 60vh;
		border-radius: 20px;

		box-shadow: 5px 8px 12px black;
	}
	.carta-ciri img{
		
		width: 100%;
		height: 100%;
		object-fit: cover;
		
		
	}
	.resaltar-ciri{
		font-weight: bold;
		font-style: italic;
		background-color: #000000;
		border-radius: 10px;
	}
	/*YENNEFFER*/
	#inicio-yen{
		width: 100%;
		height: 90vh;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #ffffff;
		font-size: 2em;
		text-shadow: 5px 5px 5px black;

		background-image: url(../imagenes/ps/yen3.jpg);
		background-repeat: no-repeat;
		background-size:cover;
		background-position:center center;
		
	}
	#inicio-yen h1{
		font-size: 2.5em;
	}

	#introduccion-yen .container-yen{
		display: flex;
		justify-content: center;
		
	}
	#introduccion-yen .texto-yen{
		width: 50%;
		text-align: initial;
		padding: 0px 30px;
		max-width: 600px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin-left: 100px;
		
		
	}
	#introduccion-yen h2{
		font-size: 4em;
		
		
	}
	#introduccion-yen .texto-yen p{
		
		font-size: 1.5em;
		color: black; 
	}
	#introduccion-yen .contenedor-imagen-yen{
		background-image:url(../imagenes/yennefer2.jpg);
		background-size: cover;
		background-position: center center;
		border-radius: 20px;
		box-shadow: 5px 5px 10px;
		height: 500px;
		width: 400px;
	}
	#contenido-yen{
		background-color: rgba(0,0,0,0.5);
		color: white;
		text-align: center;
		
	}
	#contenido-yen h2{
		padding: 10px;
		text-shadow: 5px 5px 5px black;
	}
	#contenido-yen p{
		font-family: "Baskervville SC", serif;
		padding: 20px;
		font-size: 2.2rem;
		text-align: left;
	}

	#contenido-yen .carta-yen{
		width: 70%;
		height: 60vh;
		border-radius: 20px;

		box-shadow: 5px 8px 12px black;
	}
	.carta-yen img{
		
		width: 100%;
		height: 100%;
		object-fit: cover;
		
		
	}
	.resaltar-yen{
		font-weight: bold;
		font-style: italic;
		background-color: #000000;
		border-radius: 10px;
	}
	/*jaskier*/
	#inicio-jaskier{
		width: 100%;
		height: 90vh;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #ffffff;
		font-size: 2em;
		text-shadow: 5px 5px 5px black;

		background-image: url(../imagenes/ps/jaskier3.jpg);
		background-repeat: no-repeat;
		background-size:cover;
		background-position:center center;
		
	}
	#inicio-jaskier h1{
		font-size: 2.5em;
	}

	#introduccion-jaskier .container-jaskier{
		display: flex;
		justify-content: center;
		
	}
	#introduccion-jaskier .texto-jaskier{
		width: 50%;
		text-align: initial;
		padding: 0px 30px;
		max-width: 600px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin-left: 100px;
		
		
	}
	#introduccion-jaskier h2{
		font-size: 4em;
		
		
	}
	#introduccion-jaskier .texto-jaskier p{
		font-size: 1.5em;
		color: black; 
	}
	#introduccion-jaskier .contenedor-imagen-jaskier{
		background-image:url(../imagenes/ps/jaskier2.jpg);
		background-size: cover;
		background-position: center center;
		border-radius: 20px;
		box-shadow: 5px 5px 10px;
		height: 500px;
		width: 400px;
	}
	#contenido-jaskier{
		background-color: rgba(0,0,0,0.5);
		color: white;
		text-align: center;
		
	}
	#contenido-jaskier h2{
		padding: 10px;
		text-shadow: 5px 5px 5px black;
	}
	#contenido-jaskier p{
		font-family: "Baskervville SC", serif;
		padding: 20px;
		font-size: 2.2rem;
		text-align: left;
	}

	#contenido-jaskier .carta-jaskier{
		width: 70%;
		height: 60vh;
		border-radius: 20px;

		box-shadow: 5px 8px 12px black;
	}
	.carta-jaskier img{
		
		width: 100%;
		height: 100%;
		object-fit: cover;
		
		
	}
	.resaltar-jaskier{
		font-weight: bold;
		font-style: italic;
		background-color: #000000;
		border-radius: 10px;
	}
	/*TEMPORADAS*/
	#inicio-temporadas{
		width: 100%;
		height: 90vh;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #ffffff;
		font-size: 2em;
		text-shadow: 5px 5px 5px black;

		background-image: linear-gradient(
			0deg,
			rgba(0,0,0,0.5),
			rgba(0,0,0,0.5)
		)
		,url(../imagenes/ps/temporadas.jpg);
		background-repeat: no-repeat;
		background-size:cover;
		background-position:center center;
		
	}
	#inicio-temporadas h1{
		text-align: center;
		padding: 20px;
		font-size: 2em;
	}
	#contenido-temporadas{
		background-color: rgba(0,0,0,0.5);
		color: white;
		text-align: center;
		
	}
	#contenido-temporadas h2{
		margin-top: 50px;
		padding: 20px;
		text-shadow: 5px 5px 5px black;
	}
	#contenido-temporadas p{
		font-family: "Baskervville SC", serif;
		padding: 20px;
		font-size: 2.2rem;
		text-align: left;
	}

	#contenido-temporadas .carta-temporadas{
		width: 70%;
		height: 60vh;
		
		border-radius: 20px;

		box-shadow: 5px 8px 12px black;
	}
	.carta-temporadas img{
		
		width: 100%;
		height: 100%;
		object-fit: cover;
		
	}

	/*EXTRAS*/
	#inicio-extras{
		width: 100%;
		height: 90vh;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #ffffff;
		font-size: 2em;
		text-shadow: 5px 5px 5px black;

		background-image: linear-gradient(
			0deg,
			rgba(0,0,0,0.5),
			rgba(0,0,0,0.5)
		)
		,url(../imagenes/ps/EXTRAS.jpg);
		background-repeat: no-repeat;
		background-size:cover;
		background-position:center center;
		
	}
	#inicio-extras h1{
		text-align: center;
		padding: 20px;
		font-size: 2em;
	}
	/*CONTACTO*/
	#inicio-contacto{
		width: 100%;
		height: 90vh;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #ffffff;
		font-size: 2em;
		text-shadow: 5px 5px 5px black;

		background-image: linear-gradient(
			0deg,
			rgba(0,0,0,0.5),
			rgba(0,0,0,0.5)
		)
		,url(../imagenes/ps/CONTACTO.jpg);
		background-repeat: no-repeat;
		background-size:cover;
		background-position:center center;
		
	}
	#inicio-contacto h1{
		text-align: center;
		padding: 20px;
		font-size: 2em;
	}
	
}